h1 {
  font-family: "Courier";
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #616161;
  font-size: 18px;
  letter-spacing: 2.22px;
}

.loading {
  margin-top: 16%;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

#loading-logo {
  position: relative;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
}
