.navbar {
  position: relative;
  top: 0;
  height: 94px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar-logo {
  height: 54px;
  width: 300px;
  position: relative;
  top: 47%;
  transform: translateY(-50%);
}

#logo-container {
  height: 100%;
  position: relative;
  left: calc(((100% - 308px) / 2) - 30%);
}

#searcharticle-input-bar {
  position: absolute;
  height: 100%;
  width: 84%;
  font-family: "Mechanical";
  border-radius: 16px;
  border: none;
  outline: none;
  padding-left: 16px;
}

#searcharticle-button {
  position: absolute;
  right: 10%;
  height: 100%;
  width: 10%;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 0px 16px 16px 0px;
  background-color: #787878;
}

#searchbar-container {
  position: relative;
  height: 45%;
  width: 30%;
  min-width: 300px;
  margin-left: 40px;
}

#menuimage-container {
  position: absolute;
  right: 0;
  height: 100%;
  margin-right: 32px;
  width: 5%;
}

#menuimage {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
}

#menuimage:hover {
  cursor: pointer;
  opacity: 0.4;
}
