#container {
  width: 100%;
  background-color: #e0e0e0;
  height: 94px;
}

.navbar {
  position: relative;
  top: 0;
  height: 94px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0e0e0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1250px;
}

#navbar-logo {
  height: 54px;
  width: 300px;
  position: relative;
  top: 47%;
  transform: translateY(-50%);
}

#logo-container {
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 6;
  margin-left: auto;
  margin-right: auto;
}

#searchbar-input {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Mechanical";
  border-radius: 16px;
  box-shadow: 0 0 0 1pt grey;
  outline: none;
  border: none;
  padding-left: 16px;
}

#searchbar-button {
  position: absolute;
  right: -16px;
  height: 100%;
  width: 15%;
  border: none;
  outline: none;
  border-radius: 0px 16px 16px 0px;
  background-color: #787878;
}

#searchbar-container {
  position: relative;
  height: 48%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

#menuimage-container {
  height: 100%;
  width: 5%;
  grid-column-start: 8;
  grid-column-end: 8;
}

#menuimage {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 52%;
  right: 40px;
  transform: translateY(-50%);
}

#menuimage:hover {
  cursor: pointer;
  opacity: 0.4;
}

@media (max-width: 1200px) {
  #navbar-logo {
    height: 43.2px;
    width: 240px;
  }
  #searchbar-container {
    margin-left: 40px;
  }
  #menuimage {
    height: 44px;
    width: 44px;
  }
}

@media (max-width: 950px) {
  #searchbar-container {
    height: 35%;
  }
  #menuimage {
    height: 32px;
    width: 32px;
  }
}

@media (max-width: 800px) {
  #navbar-logo {
    height: 32.4px;
    width: 180px;
  }
  #searchbar-container {
    height: 30%;
    margin-left: 16px;
  }
  #menuimage {
    height: 28px;
    width: 28px;
    right: 24px;
  }
}

@media (max-width: 580px) {
  #menuimage {
    height: 32px;
    width: 32px;
  }
}

@media (max-width: 430px) {
  #navbar-logo {
    height: 27.36px;
    width: 152px;
    left: -8px;
  }
  #searchbar-container {
    height: 25%;
    margin-left: 8px;
  }
  #searchbar-button {
    width: 20%;
  }
  #menuimage {
    height: 26px;
    width: 26px;
    right: 20px;
  }
}
